@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Manager App</h1>
    <p class="lead">Manage your tasks efficiently</p>

    <a class="btn btn-primary btn-lg mt-3" href="/Tasks">
        Go to Tasks
    </a>
</div>